.jewelery {
    height: 100%;
}
.cards-container {
    display: flex;
    margin: 190px 0px 50px 21%;
    flex-wrap: wrap;
    gap: 50px;
}

.sidebar {
    width: 350px;
    background-color: rgb(255, 255, 255);
    height: 100%;
    position: absolute;
    top: 0;
    position: fixed;
}